
*{
    font-family: 'Sora';
}
header{
    display: flex;
    flex-direction: row-reverse;
    width: 1360px;
    height: 230px;
    box-shadow: 10px 10px 20px rgb(27, 8, 8);
    background-color: rgb(192, 192, 247);
}
#logo{
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 200px;
}
.img1{
    position: absolute;
    left: 40px;
    top: 30px;
}
.img2{
    position: relative;
    top: -95px;
    left: 18px;
}
#myAnimation {
    position: absolute;
    background-color: rgb(255, 153, 20);
    display:none;
    flex-wrap:no warp;
    overflow:hidden;
    font-size: 1.6em;
    padding-left: 10px;
    color: white;
    border-radius: 20px;
    top: 53px;
    left: 111px;
}
#myAnimation2 {
    position: absolute;
    background-color: rgba(173, 29, 118, 0.808);
    display:none;
    flex-wrap:no warp;
    overflow:hidden;
    font-size: 1.6em;
    padding-left: 10px;
    color: white;
    border-radius: 20px;
    left: 111px;
    top: 143px;
}
ul{
    display: flex;
    justify-content: flex-end;
}
.nor:hover{
    box-shadow: rgb(151, 118, 74) 3px 3px 6px ;
    border: 1pt rgb(151, 118, 74) solid ;
}
li , a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 30px;
}
.active > a{
    color: orange;
    width: 40px;
}
.onglet.active{
    display:block;
}
.onglet{
    display:none;
}
nav{
    border-bottom: 1px gray solid;
}
section{
    margin-bottom: 1000px;
}
.minecraft:hover{
    background-color: green;
    border: 1px black solid;
    color: white;
}
